{% extends "layout.html" %}
{% block content %}

    <div class="wrapper">

        <form action="{{ url_for('admin.add_new_tx') }}" method="POST" class="form-create">

            <h2>Add New Transcript</h2>


            {% for message in form.accession.errors %}
                <div class="alert alert-danger">Oh Snap! {{ message }}</div>
            {% endfor %}
            {% if message %}
                {{ message | safe }}
            {% endif %}

            <div class="form-group">
                {{ form.accession.label }}
                {{ form.accession(class_="form-control") }}
            </div>
            {{ form.submit(class_="btn btn-primary") }}

        </form>


    </div>

{% endblock %}