{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 vertical no-padding-left">
            <!--<h2>Viewing Live {{ scope }} Panel | <strong>{{ panel_name }} (v{{ version }})</strong></h2>-->
            <h2 class="no-margin-heading"><strong>{{ panel_name }} (v{{ version }})</strong></h2>
        </div>
        <div class="col-md-6 text-right xtra-padding-right">
            <form action="{{ url }}?id={{ panel_id }}" class="form-inline" method="POST">
                {{ form.versions.label }}
                {{ form.versions(class_="form-control") }}
                {{ form.submit(class_="btn btn-primary") }}

                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-download"></span> Download as...
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url_for('panels.download') }}?name={{ panel_name }}&scope={{ scope }}&type=default&id={{ panel_id }}&version={{ version }}&project_id={{ project_id }}">.bed</a>
                                <a href="{{ url_for('panels.download') }}?name={{ panel_name }}&scope={{ scope }}&type=extension&id={{ panel_id }}&version={{ version }}&project_id={{ project_id }}">.bed +/- 25 bp</a>
                                <a href="{{ url_for('panels.download') }}?name={{ panel_name }}&scope={{ scope }}&type=design&id={{ panel_id }}&version={{ version }}&project_id={{ project_id }}">design file</a>
                            </li>
                        </ul>
                    </div>

                    {% if scope == 'Panel' %}
                    <a href="{{url_for('panels.edit_panel_process')}}?id={{ panel_id }}"
                       class="btn btn-primary {{ edit }}"
                       role="button"><span
                            class="glyphicon glyphicon-edit"></span> Edit Panel</a>
                    {% endif %}
                    {% if scope == 'Virtual' %}
                    <a href="{{url_for('panels.edit_virtual_panel_process')}}?id={{ panel_id }}"
                       class="btn btn-primary {{ edit }}"
                       role="button"><span
                            class="glyphicon glyphicon-edit"></span> Edit Panel</a>
                    {% endif %}

                </div>
            </form>

        </div>
    </div>

    {% if message %}<br>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger"><strong>Just so you know...</strong> {{ message }}</div>
        </div>
        {% endif %}
    </div>


    <div class="row top-buffer bottom-buffer">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="panel"></table>
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>Chr</th>-->
            <!--<th>Start</th>-->
            <!--<th>End</th>-->
            <!--<th>Gene</th>-->
            <!--<th>Region Name</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--{{ html|safe }}-->
            <!--</table>-->
        </div>
    </div>
</div>


{% endblock %}