{% extends "layout.html" %}

{% block content %}

<div class="form-vpgenes">
    <form id="main" name="{{ vp_id }}" action="{{ url }}" method="POST">

        <center><h2>Virtual Panel Wizard</h2></center>
        <div class="row">

            <div class="line hidden-xs"></div>
            <div class="process">
                <div class="process-row nav nav-tabs">
                    <div class="col-sm-12 text-center">
                        <div class="process-step col-sm-3">
                                <span id="glyphicon-pencil" class="glyphicon glyphicon-new-selected glyphicon-pencil"
                                      data-toggle="tab"
                                      href="#initialise"></span>
                            <p>
                                <small>Virtual Panel Name</small>
                            </p>
                        </div>
                        <div class="process-step col-sm-3">
                            {% if genes %}
                            <span id="glyphicon-list-alt" class="glyphicon glyphicon-new glyphicon-list-alt"
                                  data-toggle="tab"
                                  href="#select_genes"></span>
                            {% else %}

                            <span id="glyphicon-list-alt" class="glyphicon glyphicon-new glyphicon-list-alt"
                                  data-toggle="tab"
                                  href="#initialise"></span>
                            {% endif %}
                            <p>
                                <small>Genes</small>
                            </p>
                        </div>
                        <div class="process-step col-sm-3">
                            {% if genes %}
                            <span id="glyphicon-th-large" class="glyphicon glyphicon-new glyphicon-th-large"
                                  data-toggle="tab"
                                  href="#select_regions"></span>
                            {% else %}
                            <span id="glyphicon-th-large" class="glyphicon glyphicon-new glyphicon-th-large"
                                  data-toggle="tab"
                                  href="#initialise"></span>
                            {% endif %}
                            <p>
                                <small>Regions</small>
                            </p>
                        </div>
                        <div class="process-step col-sm-3">
                            {% if genes %}
                            <span id="glyphicon-ok" class="glyphicon glyphicon-new glyphicon-ok" data-toggle="tab"
                                  href="#submit_vp"></span>

                            {% else %}
                            <span id="glyphicon-ok" class="glyphicon glyphicon-new glyphicon-ok" data-toggle="tab"
                                  href="#initialise"></span>
                            {% endif %}
                            <p>
                                <small>Success</small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div id="initialise" class="tab-pane fade active in">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            {% if genes %}

                            <br>
                            <div class="form-group">
                                {{ form.panel.label }}
                                {{ form.panel(class_="form-control", disabled="disabled") }}
                            </div>
                            <div><p>N.B. Panels that are locked will not appear in the list.</p></div>
                            <div class="form-group">
                                {{ form.vpanelname.label }}
                                {{ form.vpanelname(class_="form-control", disabled="disabled") }}
                            </div>

                            {% else %}


                            <br>
                            <div id="message">
                                {% if message %}

                                <div class="alert alert-danger"><strong>Silly Sausage!</strong> {{ message }}</div>

                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.panel.label }}
                                {{ form.panel(class_="form-control") }}
                            </div>
                            <div><p>N.B. Panels that are locked will not appear in the list.</p></div>
                            <div class="form-group">
                                {{ form.vpanelname.label }}
                                {{ form.vpanelname(class_="form-control") }}
                            </div>

                            {% endif %}

                            <br>
                            <ul class="list-unstyled list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-primary next-step">Next <i
                                            class="fa fa-chevron-right"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div id="select_genes" class="tab-pane fade">
                        <div class="row top-buffer bttm-buffer">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <center><h3>Select the genes</h3></center>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div id="loading"></div>

                        <div class="row top-buffer bttm-buffer">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <ul class="list-group" id="geneselector">
                                    {{ genes | safe }}
                                </ul>
                                <ul class="list-unstyled list-inline pull-right">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step"><i
                                                class="fa fa-chevron-left"></i> Back
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary next-step">Next <i
                                                class="fa fa-chevron-right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div id="select_regions" class="tab-pane fade">

                        <div class="row top-buffer bttm-buffer">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <center><h3>Choose the regions</h3></center>
                                <center><p>Click a gene name to edit the regions included in the virtual panel</p>
                                </center>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div>

                            <div class="form-group centerdiv">
                                <h3 id="genelist" value="{{ panel }}">
                                    <button name="genebutton" type="button" class="btn btn-danger btn-md btn-custom"
                                            data-name="Custom" data-id="Custom">
                                        <span class='glyphicon glyphicon-pencil'></span> Custom Regions
                                    </button>&nbsp;
                                    {{ genelist | safe }}
                                </h3>
                                <h3 id="add_all_head">
                                    <button id="add-all-vp" type="button" class="btn btn-danger btn-md btn-custom"
                                            data-name="add-all" data-id="add-all">
                                        <span class='glyphicon glyphicon-plus'></span> Add all
                                    </button>
                                </h3>
                            </div>
                            <br/>
                            <br/>
                            <div id="all-genes-progress" hidden="hidden">
                                <h3>Uploading all genes...</h3>
                                <div id="progressbar" class="progress" style="height:25px">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="height:25px; width:0%"></div>
                                </div>
                            </div>
                            <br/>
                        </div>
                        <div id="regions" class="form-group"></div>
                        <br/>
                        <div>
                            <ul class="list-unstyled list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-default prev-step"><i
                                            class="fa fa-chevron-left"></i> Back
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary next-step">Next <i
                                            class="fa fa-chevron-right"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="submit_vp" class="tab-pane fade">
                        <div id="complete_message" class="alert alert-danger"><strong>Oopsie Daisy!</strong> You haven't
                            added any regions to this panel yet...
                        </div>
                        <div id="make_live" hidden>
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <center>
                                    <tr>{{ form.make_live.label }}</tr>
                                    {% for subfield in form.make_live %}
                                    <tr>
                                        <td>{{ subfield }}</td>
                                        <td>{{ subfield.label }}</td>
                                    </tr>
                                    {% endfor %}
                                </center>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <ul class="list-unstyled list-inline pull-right">
                            <li>
                                <button type="button" class="btn btn-default prev-step"><i
                                        class="fa fa-chevron-left"></i> Back
                                </button>
                            </li>
                            <li>
                                <button id="cancel" type="button" class="btn btn-danger"><i id="cancel_logo"
                                                                                            class="fa fa-remove"></i>
                                    Cancel
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


<script>
    window.onunload = function () {
        console.log(!window.location.pathname.indexOf("edit") < 0);
        if ($('#cancel').hasClass('btn-danger') && window.location.pathname.indexOf("edit") < 0) {
            console.log('remove');
            var vp_name = $('#vpanelname').val();
            var panel_name = $('#panelname').val();
            remove_panel(vp_name, panel_name)
        }
        unlock_panel()
    };
</script>
{% endblock %}



