body {
  padding-top: 80px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron{
  margin-top: 100px;
  /*background-color: #69B5EC;*/
  /*color: #ffffff;*/
}

.btngene{
  margin-bottom: 5px;
}

.hide
{
    display:none;
}


h3
{
  display: inline;
}

.test{
  display: inline-block;
}

.label
{
  margin-right:5px;
}

.panel{
  margin-top: 10px;
}
.addhere{
  white-space:normal;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
  background-color: #FFFFFF;
}

.white-bk {
  background-color: #FFFFFF;
  padding: 10px 10px 1px;
  border: 1px solid #ebebeb;
}



.form-signin {
  max-width: 400px;
  padding: 10px 35px 35px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-create {
  max-width: 500px;
  padding: 10px 35px 35px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-permissions{
  max-width: 800px;
  padding: 10px 35px 35px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-vpgenes {
    padding: 10px 35px 35px;
    margin: 0 auto;
    background-color: #f6f6f6;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.col-md-4{
  padding-top: 20px;
  text-align: right;
}


.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}


.bolden{font-weight: bold;
font-style: oblique}

.red{color: red}


.process-step .btn:focus{outline:none}
.process{display:table;width:100%;position:relative}
.nav-tabs{border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #18bc9c;}
.process-row{display:table-row}
.process-step button[disabled]{opacity:1 !important;filter: alpha(opacity=100) !important}
.process-row:before{top:40px;bottom:0;position:absolute;content:" ";width:100%;height:1px;z-order:0}
.process-step{text-align:center;position:relative}
.process-step p{margin-top:4px}
.btn-info{background-color:#18bc9c; border-color: #18bc9c;}

.line {
  max-width:75%;
  min-height:2px;
  background-color: #ddd;
  margin-top:50px;
  margin-bottom:-35px;
  margin-left:auto;
  margin-right:auto;
}
.glyphicon-new {
  border-radius:50%;
  border: 2px #ddd solid;
  padding:20px;
  font-size:24px;
    background-color:#999; border-color: #999;
  color:#FFFFFF;
}
.glyphicon-new-selected {

    border-radius:50%;
  border: 2px #ddd solid;
  padding:20px;
  font-size:24px;
    background-color:#18bc9c; border-color: #18bc9c;
  color:#FFFFFF;
}
