body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron{
  margin-top: 100px;
  background-color: #69B5EC;
  color: #ffffff;
}

.btngene{
  margin-bottom: 5px;
}

.hide
{
    display:none;
}


h3
{
  display: inline;
}

.test{
  display: inline-block;
}


.label
{
  margin-right:5px;
}

.panel{
  margin-top: 10px;
}
.addhere{
  white-space:normal;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}


.form-signin {
  max-width: 400px;
  padding: 10px 35px 35px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-create {
  max-width: 400px;
  padding: 10px 35px 35px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
