body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron{
  margin-top: 100px;
  background-color: #69B5EC;
  color: #ffffff;
}

.btn{
  margin-bottom: 5px;
}
