{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1><span class="glyphicon glyphicon-th-list"></span> 404 Not Found</h1></div>
                <div class="col-md-12">You're crazy - you'll never find what you are looking for here. Only Whales can
                    be found here!
                </div>
            <div class="col-md-12">Need to report a bug? Email a ticket to <a
                        href="mailto:matthewparker24+lzj6vkpuibpnivi6nsog@boards.trello.com?Subject=#PanelPal%20#bugreport%20PanelPal%20bug"
                        target="_top">bioinformatics</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center><img src="/static/images/whale.png"></center>
            </div>
        </div>

    </div>
</div>


{% endblock %}