<!DOCTYPE html>
<html>
  <head>
    <title>Panel Pal</title>
  </head>

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/starter-template.css">

  <body>

    <header>
      <div class="container">
        <h1 class="logo">Panel Pal</h1>
          <strong><nav>
            <ul class="menu">
                <li><a href="{{ url_for('view_panels') }}">Panels</a></li>
                <li><a href="{{ url_for('view_users') }}">Users</a></li>
            </ul>
            </nav></strong>
      </div>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>