{% extends "layout.html" %}

{% block content %}


<div class="tree">

    {% for project in projects %}
        <ul>
            <li>
        {{ project }}

        {% for panel in projects[project] %}
                <ul>
                    <li>
            {{ panel }}
            <ul>
            {% for vp in projects[project][panel] %}

                            <li>
                {{ vp }}
                                </li>
            {% endfor %}
                </ul>
                </li>
                    </ul>
        {% endfor %}
       </li>
            </ul>
    {% endfor %}

</div>

<div class="tree">


	<ul>
		<li>
			<a href="#">Parent</a>
			<ul>
				<li>
					<a href="#">Child</a>
					<ul>
						<li>
							<a href="#">Grand Child</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Child</a>
					<ul>
						<li><a href="#">Grand Child</a></li>
						<li>
							<a href="#">Grand Child</a>
							<ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
							</ul>
						</li>
						<li><a href="#">Grand Child</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>


{% endblock %}