{% extends "layout.html" %}
 
{% block content %}
<div class="wrapper">

  <form action="{{ url_for('add_projects') }}" method="POST" class="form-create">
      <h2>Create Project</h2>

    {% for message in form.name.errors %}
  <div class="alert alert-danger"><strong>Silly Sausage!</strong> {{ message }}</div>
{% endfor %}
    {{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class_="form-control") }}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
  </form></div>
{% endblock %}