{% extends "layout.html" %}

{% block content %}
<div class="wrapper">
    <div class="form-vpgenes">
        <form id="main" name="main" action="{{ url_for('view_virtual_panels') }}" method="POST">

            <h2>Create Virtual Panel</h2>
            <div id="message">
            {% if message %}
            <div class="alert alert-danger"><strong>Silly Sausage!</strong> {{ message }}</div>
            {% endif %}
            </div>
            <div class="row">
                <div class="line hidden-xs"></div>
                <div class="process">

                    <div class="process-row nav nav-tabs">
                        <div class="col-sm-12 text-center">
                            <div class="process-step col-sm-3">
                                <span class="glyphicon glyphicon-new-selected glyphicon-pencil" data-toggle="tab"
                                      href="#initialise"></span>
                                <p><small>Virtual Panel Name</small></p>
                            </div>
                            <div class="process-step col-sm-3">
                                <span class="glyphicon glyphicon-new glyphicon-list-alt" data-toggle="tab"
                                      href="#initialise"></span>
                                <p>
                                    <small>Genes</small>
                                </p>
                            </div>
                            <div class="process-step col-sm-3">
                                <span class="glyphicon glyphicon-new glyphicon-th-large" data-toggle="tab"
                                      href="#initialise"></span>
                                <p>
                                    <small>Regions</small>
                                </p>
                            </div>
                            <div class="process-step col-sm-3">
                                <span class="glyphicon glyphicon-new glyphicon-ok" data-toggle="tab"
                                      href="#initialise"></span>
                                <p>
                                    <small>Success</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="initialise" class="tab-pane fade active in">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <br>
                                <div class="form-group">
                                    {{ form.panel.label }}
                                    {{ form.panel(class_="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.vpanelname.label }}
                                    {{ form.vpanelname(class_="form-control") }}
                                </div>
                                <br>
                                <ul class="list-unstyled list-inline pull-right">
                                    <li>
                                        <button type="button" class="btn btn-info next-step">Next <i
                                                class="fa fa-chevron-right"></i></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div id="select_genes" class="tab-pane fade">
                            <h3>Select the genes</h3>
                            <div id="loading"></div>
                            <ul class="list-group" id="geneselector">

                            </ul>
                            <ul class="list-unstyled list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-default prev-step"><i
                                            class="fa fa-chevron-left"></i> Back
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-info next-step">Next <i
                                            class="fa fa-chevron-right"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div id="select_regions" class="tab-pane fade">
                            <div>
                                <p>Click a gene name to edit the regions included in the virtual panel</p>
                                <div class="form-group">
                                    <h3 id="genelist" value="{{ panel }}">

                                    </h3>

                                </div>
                                <br/>
                            </div>
                            <div id="regions" class="form-group"></div>
                            <br/>
                            <div>
                                <ul class="list-unstyled list-inline pull-right">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step"><i
                                                class="fa fa-chevron-left"></i> Back
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-info next-step">Next <i
                                                class="fa fa-chevron-right"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="submit_vp" class="tab-pane fade">
                            <h3>Congratulations! You have completed your virtual panel</h3>
                            <br/>
                            <h4>Click done to add this to the database</h4>
                            <ul class="list-unstyled list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-default prev-step"><i
                                            class="fa fa-chevron-left"></i> Back
                                    </button>
                                </li>
                                <li>
                                    {{ form.submitname(class_="btn btn-primary") }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}



